

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px solid darkorange;
    font-family: monospace;

}

.first-container {
    padding: 10px;
    height: 100vh;
}

/* .top-screen-bar button {

} */

body {
    background-color: lightskyblue;
    font-family: monospace;
}

p {
    color: white;
    font-size: 1.3em;
}

button {
    outline: none;
    background-color: black;
    color: white;
    font-size: 1.3em;

}

.top-screen-bar p {
    float: right;
}

.second-container {
  background-color: black;
  height: 100%;
    
    

}