

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid darkorange; */
    font-family: monospace;

}

.first-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* .top-screen-bar button {

} */

body {
    background-color: lightskyblue;
    overflow: hidden;
}

p {
    color: white;
    font-size: 1.3em;
}

button {
    outline: none;
    background-color: black;
    color: white;
    font-size: 1.3em;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
}

button-grid {
    margin: 20px 0;
}
button:hover {
    cursor: pointer;

}

h1, h2 {
    color: darkorange;
    text-align: center;
}
.top-screen-bar p {
    float: right;
}

.second-container {
    /* background-color: black; */
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz-info, main {
    margin-bottom: 25vh;
    margin-left: 10%;
    margin-right: 10%;
}

.quiz-info p {
    text-align: center;
    padding: 2%;
}

.quiz-info button {
    display: block;
    margin: 0 auto;
}

main {
    display: none;
}

.questions {
    padding: 3%;
    margin: 10vh;
}

/*-- questions*/
.questions button {
    text-align: left;
    padding: 3%;
    
}

.questions li {
    list-style: none;
}

.choice-container{
    outline: none;
    background-color: black;
    color: white;
    font-size: 1.3em;
    padding: 5px 10px;
    border-radius: 5px;
    width: 25%;
    
}
.choice-container:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: translateY(-0.1rem);
}

.choice-text {
    outline: none;
    background-color: black;
    color: white;
    font-size: 1.3em;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
}
.quiz-finish {
    display: block;
}

.highscores {
    display: block;
}


.questions-container {
    /* background-color: black; */
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.correct {
    background-color: green;

}
.incorrect {
    background-color: red;
}